.grid {
  border: 4px solid;
  border-radius: 20px;
}
.grid_item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: sans-serif;
  font-size: 48px;
}
.grid_item:nth-child(3n + 1){background-color: #96ceb4;}
.grid_item:nth-child(3n + 2){background-color: #96ce;}
.grid_item:nth-child(3n){background-color: #d0cd41;}

.grid{
  /* grid-template-columns: 1fr 1fr 1fr; */ /*min-content(100px) max-content(100px)- думаю догадаться что они делают не трудно*/   /* сколько надо столбцов стллько раз и казуем и указуем какая шарина */
  /* grid-template-columns: fit-content(300px) 1fr 1fr;  */ /* тут 1 столбец может быть меньше 300 пикселей но не больше */
  /* grid-template-columns: minmax(1px, 1000000px) 150px 3fr; */ /*первый будет шататься от 1 пикселя до 1000000 пикселей*/

  /* значения могут быть ремы пиксели проценты сантиметры и так далее  короч очень круто*/

  /* grid-template-columns: repeat(5, 100px); его можно комбинировтаь с чем то другим  и сначала указуем сколько раз повторить а потом какой размер каждого */
  /*grid-template-columns: repeat(5, 1fr) 1fr 300px; */ /* вот пример комбинирования */
}