.grid {
  border: 4px solid;
  border-radius: 20px;
}
.grid_item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: sans-serif;
  font-size: 48px;
}
.grid_item:nth-child(3n + 1){background-color: #96ceb4;}
.grid_item:nth-child(3n + 2){background-color: #96ce;}
.grid_item:nth-child(3n){background-color: #d0cd41;}
