.grid3{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 100px);
    /* код взят выше */
    /* grid-auto-rows: 75px; */
    /* grid-auto-columns: 75px; */
    /* а ниже это новое  */
    grid-template-areas: 
    'a . . . . '
    '. . . c c '
    'b b . c c '
    /* типо рисуем таблицу */
    /*тут нужны ИЛИ одинарные ИЛИ двойные НО важно чтобы БЫЛИ КАВЫЧКИ*//* тут мы придумываем имя (сжелаем так же как было этого но по другому  и возможно 4 5 6 не будет или будут по другому */;
    /*grid-template: 
    'a . . . . ' 100px
    '. . . c c ' 10px
    'b b . c c ' 1fr
    / 1fr 1fr 1fr 1fr 1fr  ; *//* тут можно было указывать высоту */
  
  }
  /* вписуем имена) */
  .grid_item3:nth-child(3){
    grid-area: a;
  }
  .grid_item3:nth-child(1){
    grid-area: b;
  }
  .grid_item3:nth-child(2){
    grid-area: c;
  }
  /* та дам */