.grid4 {
    height: 500px; /* стандартное ксс свойство для обозначения высоты*/
    display: grid;
    grid-template/*-areas*/:
    "e . . . . " 100px
    ". . . g g " 100px
    "d d . g g" 100px
    / 100px 100px 100px 100px 100px;
  /* свойства для выравнивания будут ниже */
    justify-content: end; /* по горизонтали (start-end-center)*/
    align-content: start; /* по вертикали (start-end-center-space...)*/
    place-content: center;

  /* теперь для выраавнивания ячейки */
    justify-items: stretch; /* розтыгивает */
    align-items: stretch;
  /* круто? */
}
.grid_item4:nth-child(3) {
  grid-area: g;
}
.grid_item4:nth-child(1) {
  grid-area: e;
}
.grid_item4:nth-child(2) {
  grid-area: d;
}
